body {
  font-family: Arial, sans-serif;
  min-height: 20vh;
  background: rgb(28, 28, 90);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  margin-bottom: 20px;
  color: #e5e7eb;
  font-weight: 500;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  min-width: 200px;
}

button {
  padding: 10px 14px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  background-color: #4f8cff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3b6fd8;
}

.results {
  margin: 5px;
  padding: 5px;
  color: white;
  display: inline;
  min-width: 260px;
  text-align: center;
}

#cityListResults {
  visibility: hidden;
  display: inline;
}

#city-list {
  margin-top: 20px;
  padding: 0;
  color: white;
  display: inline;
  flex-direction: column;
  gap: 10px;
  min-width: 260px;
}

.city-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 14px;
  border-radius: 6px;
  margin: 2px;
  text-align: left;
  cursor: pointer;
}

.city-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

#errorMessage {
  color: #ff6b6b;
  margin-top: 10px;
}

#searchedList {
  position: absolute;
  top: 100%;
  left: 0;
}

.card {
  position: relative;
}

#toggleTemp {
  visibility: hidden;
  position: absolute;
  top: 40px;     /* move it down more */
  right: 0px;   /* keep it to the right */
  padding: 4px 6px;   /* smaller button */
  font-size: 12px;    /* smaller text */
  border-radius: 5px;
}

#add-city-button {
  visibility: hidden;
  display: block;
  margin: 20px auto;
}


#spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #f3f5f6; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
